<%- include("partials/header", { title: "Home", user: user }) %>

<div class="homepage-container">
  <h1 class="homepage-title">Enjoy Life and Be Active</h1>

  <p class="homepage-tagline">
    Create and track your workouts with user-friendly tools.<br>
    Build new workouts, save them, and come back anytime.
  </p>
</div>

<%- include("partials/footer") %>
